[Desktop Entry]
Version=1.0
Type=Application
Name=Pookie Paste
Comment=Fast clipboard history for Linux
Exec=pookie-paste
Terminal=false
NoDisplay=false
Categories=Utility;
StartupNotify=false
